body {
    background: url("https://i.ytimg.com/vi/8yy0cdS1Bb8/maxresdefault.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body {
    background: url("https://cdn.mos.cms.futurecdn.net/6wSzuLERcQsnCWBqicMFDg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    padding: 50px 50px 0px 50px;
}

p {
    text-align: center;
}

.start {
    height: 30px;
    width: 240px;
    color: black; 
    /* needs to be white */
    align-content: center;
    position: absolute;
    top: 65%;
    left: 42%;
}

.timer {
    text-align: center;
    color: black;
    height: 30px;
    width: 100%;
    font-size: 16pt;
    background-color: whitesmoke;
}

.quiz {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 5%;
    background-color: white;
    opacity: .75;
    margin-left: 15%;
    margin-right: 15%;
}

.radioButton {
    margin-right: 1%;
}

.submit {
    width: 70%;
    margin-left: 15%;
}